.ipynb_checkpoints
# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore node_modules directory for Node.js projects
/node_modules

# Ignore log files
*.log

# Ignore IDE configuration files
.vscode/
.idea/

# Ignore build artifacts
/dist
/build

# Ignore environment files
.env
